<ion-content>
  
  <div class="flex">
    <ion-icon name="navigate-circle" class="logo"></ion-icon>
  </div>

  <div class="flex">
    <h1>Restaurants proches</h1>
  </div>

  <div class="button-list">
    <ion-button color="light" expand="block">Au délice du pont d'Iéna</ion-button>
  
    <ion-button color="light" expand="block">Ducasse sur Seine</ion-button>
  
    <ion-button color="light" expand="block">Le kiosque du Carroussel</ion-button>
    
    <ion-button color="light" expand="block">Bal de la marine</ion-button>
  </div>

</ion-content>

<div class="footer">
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button [routerLink]="['/accueilmvp']" tab="home">
      <ion-icon name="book"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="message">
      <ion-icon name="chatbox-ellipses"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</div>