<ion-content>
  
  <div class="flex">
    <ion-icon name="navigate-circle" class="logo"></ion-icon>
  </div>

  <div class="flex">
    <h1>Personnes proches</h1>
  </div>

  <div class="button-list">
    <ion-button color="light" expand="block">Jean</ion-button>
  
    <ion-button color="light" expand="block">Pierre</ion-button>
  
    <ion-button color="light" expand="block">Marie</ion-button>
    
    <ion-button color="light" expand="block">Léa</ion-button>
  </div>

</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="home">
      <ion-icon name="book"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="message">
      <ion-icon name="chatbox-ellipses"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>