<ion-header>
  <ion-toolbar>
    <ion-title>accueilmvp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="flex">
    <!-- <ion-icon name="navigate-circle" class="logo"></ion-icon> -->
    <img src=".\assets\logo_mvp.png" class="logomvp">
  </div>

  <div class="flex">
    <h2 class="sous-titre">Montrez moi...</h2>
  </div>

  <div class="button-list">
    <ion-button [routerLink]="['/user']" color="light" expand="block">Les personnes</ion-button>
  
    <ion-button [routerLink]="['/restaurant']" color="light" expand="block">Les restaurants</ion-button>
  
    <ion-button [routerLink]="['/location']" color="light" expand="block">Les lieux</ion-button>
  </div>

  <div class="flex">
    <h2 class="sous-titre">Déconnexion</h2>
  </div>

</ion-content>
